
<table width="100%" border="0" align="center">
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td align="center" valign="middle">
         <form action="http://192.168.10.195:90/mic/index.php/auth" method="post">
            <noscript>
                <input name="js_enabled" type="hidden" value="1">
            </noscript>
            
            <table align="center" width="100%" border="0">
              <tr>
                <td width="50%" align="right"><label for="male">EPF NO</label>&nbsp;</td>
                <td width="50%">
                <input type="text" id="EPF" name="EPF" value="00T568" size="6" maxlength="6" />
				
				
				
				
				</td>
              </tr>
              <tr>
                <td align="right"><label for="male">User Level</label>&nbsp;</td>
                <td><select name="auth" id="auth">
                        
                        <option value="U">user</option>
						<option value="M">Manager</option>
						
						<option value="A">admin</option>
                    </select></td>
              </tr>
              <tr>
                <td>&nbsp;</td>
                <td>&nbsp;<input type="submit" value="Login" /></td>
              </tr>
            </table>
   	  </form>
    </td>
    <td>&nbsp;</td>
  </tr>
  <tr>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
    <td>&nbsp;</td>
  </tr>
</table>