/* ----------------------------------------------Content-------------------------------------*/

#content{
	display:block;
	float:right;
	width:640px;
	}

/* ----------------------------------------------Column-------------------------------------*/

#column{
	display:block;
	float:left;
	width:278px;
	padding:10px 10px 10px 0;
	}