@charset "utf-8";
/* CSS Document */

    .pagin {
        padding: 10px 0;
        font:bold 12px arial, serif;
    }
    .pagin * {
        padding: 2px 6px;
        color:#3A3B2D;
        margin: 2px;
        border-radius:3px;
    }
    .pagin a {
        border:solid 1px #849002;
        text-decoration:none;
        background:#F8FCFF;
        padding:6px 7px 5px;
    }

    .pagin span, .pagin a:active,.pagin span.current {
        color:#FFFFFF;
        background-color:#A9B804;



    }
    .pagin span,.current{
        padding:8px 7px 7px;
    }
    
    #loader{
        position: absolute;
        text-align: center;
        top: 75px;
        width: 100%;
        display:none;
    }
	
.listing {
    color: #9C0786;
    font-family: Verdana,Arial,Helvetica,sans-serif;
    font-size: 14px;
    font-weight: bold;
    margin: 0 auto;
    overflow: hidden;
    padding: 1px 0;
    width: auto;
}
