/* ----------------------------------------------Middle Container-------------------------------------*/

#Container{
	display:block;
	float:left;
	width:538px;
	padding:5px 0 5px 0;
	}

/* ----------------------------------------------Left Container-------------------------------------*/

#ContainerLeft{
	display:block;
	float:left;
	width:762px;
	padding:5px 5px 5px 0px;
	}

/* ----------------------------------------------Right Container-------------------------------------*/

#ContainerRight{
	display:block;
	float:left;
	width:762px;
	padding:5px 0px 5px 5px;
	}
	
/* ----------------------------------------------Left Column-------------------------------------*/

#columnLeft{
	display:block;
	float:left;
	width:220px;
	padding:5px 5px 5px 5px;
	}
	
/* ----------------------------------------------Right Column-------------------------------------*/

#columnRight{
	display:block;
	float:right;
	width:220px;
	padding:5px 5px 5px 5px;
	}	
	

/* ----------------------------------------------Single Column-------------------------------------*/

#columnSingle{
	display:block;
	width:987px;
	padding:5px 5px 5px 5px;
}	
