.wrapTable {
	background-color:#e6f5fe;/*d4e5f3 d9e2e2*/
	border-collapse:collapse;
	color:#333333;
	border:1px solid #d9e2e2;
	padding-left:23px;
	padding-right:3px;
	padding-top:3px;
	width:690px;
}


.cellLeftLine {
	border-left:1px solid #d9e2e2;
}
.wrapTable th {
	height:33px;
	font-weight:bold;
	background-image:url(../images/tableHeaderBg.gif);
	/*padding:10px 0 0 10px;	*/
	color:#333;
}
.wrapTable td {
	padding: 5px;
}
.add {
	background-color: #ffffff;
	border-bottom:#d9e2e2 solid 1px;
	cursor:default;
}
.even {
	background-color: #e9eff2;
	border-bottom:#87999b solid 1px;
	cursor:default;
}

.danger {
	background-color: #D14836;
	border-bottom:#ffcece solid 1px;
	cursor:default;
}

.green_light {
	background-color: #0DBD00;
	border-bottom:#b8c97b solid 1px;
	cursor:default;
}




.print {
	background-color: #e5edc4;
	border-bottom:#b8c97b solid 1px;
	cursor:default;
}

.mouseOver {
	background-color:#ffffe0;
	border-bottom:#ffcf4c solid 1px;
	cursor:pointer;
}
