/*************** Forms ***************/
input, textarea, select {
	outline: none;
}
* html form {
	width:100%;
}
form label {
	/*
	display: block;
	padding: 0 0 10px;
	*/
}
form fieldset legend {
	font-weight: bold;
	margin-bottom: 10px;
	padding-top: 10px;
}
form p small {
	font-size: 0.75em;
	color: #777;
}
form input.text-input, form select, form textarea, form .wysiwyg {
	padding: 4px;
	font-size: 11px;
	background: #fff url('../images/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
}
*html form input.text-input, form select, form textarea, form .wysiwyg {
	padding: 4px;
	font-size: 11px;
	background: #fff url('../images/bg-form-field.gif') top left repeat-x;
	border: 1px solid #d5d5d5;
	color: #333;
	height:22px;
}
form .small-input {
	width: 25% !important;
}
form .medium-input {
	width: 50% !important;
}
form .large-input {
	width: 97.5% !important;
	font-size: 16px !important;
	padding: 8px !important;
}
form textarea {
	width: 90.5% !important;
	font-family: Arial, Helvetica, sans-serif;
}
form select {
	padding: 4px;
	background: #fff;
}
form input[type="checkbox"], form input[type="radio"] {
	padding: 0;
	background: none;
	border: 0;
}
/************ Button ************/
.button {
	-moz-border-radius: 4px;
	-webkit-border-radius: 4px;
	-khtml-border-radius: 4px;
	border-radius: 4px;
	-moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	-webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
	cursor: pointer;
	/*display: inline-block;*/
	font: 14px/100% Arial, Helvetica, sans-serif;
	padding: 4px 12px;
	outline: none !important;
	text-align: center;
	text-decoration: none;
	-moz-box-sizing: border-box !important;
	line-height: 16px;
}

.search-button{
	padding: 3px 10px;	
}

* html .search-button{
	padding: 5px 10px;	
}

button::-moz-focus-inner, input::-moz-focus-inner {
border: 0;
}
.button-orange {
	color: #fef4e9;
	border: solid 1px #da7c0c;
	background: #f78d1d;
	background: -webkit-gradient(linear, left top, left bottom, from(#faa51a), to(#f47a20));
	background: -moz-linear-gradient(top, #faa51a, #f47a20);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#faa51a', endColorstr='#f47a20');
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.button-orange:hover, .button-orange:focus {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f88e11), to(#f06015));
	background: -moz-linear-gradient(top, #f88e11, #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f88e11', endColorstr='#f06015');
}
.button-orange:active, .button-orange.active {
	background: #f47a20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}
.button-gray {
	color: #777;
	border: 1px solid #ccc;
	background: #f7f7f7;
	background: -webkit-gradient(linear, left top, left bottom, from(#f7f7f7), to(#e1e1e1));
	background: -moz-linear-gradient(top, #f7f7f7, #e1e1e1);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f7f7f7', endColorstr='#e1e1e1');
	text-shadow: 0 1px 0 #fff;
}
/*
.button-gray:hover, .button-gray:focus {
    border: 1px solid #aaa;
    background: #ececec;
    background: -webkit-gradient(linear, left top, left bottom, from(#f1f1f1), to(#ccc));
    background: -moz-linear-gradient(top,  #f1f1f1,  #ccc);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f1f1f1', endColorstr='#cccccc');
}
.button-gray:active, .button-gray.active {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#ccc), to(#f1f1f1));
    background: -moz-linear-gradient(top,  #ccc,  #f1f1f1);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#cccccc', endColorstr='#f1f1f1');
}
*/
.file-attachment{
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;	
	width:250px;
}

.button-orange-low {
	color: #fef4e9;
	border: solid 1px #f4732c;
	background: #fca146;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa144), to(#fca146));
	background: -moz-linear-gradient(top, #ffa144, #fca146);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fca146', endColorstr='#ffa144');
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.button-orange-low:hover, .button-orange-low:focus {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa144), to(#f06015));
	background: -moz-linear-gradient(top, #ffa144, #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa144', endColorstr='#f06015');
}
.button-orange-low:active, .button-orange-low.active {
	background: #f47a20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}

.button-orange-high {
	color: #fef4e9;
	border: solid 1px #f4732c;
	background: #ff8002;
	background: -webkit-gradient(linear, left top, left bottom, from(#fe9731), to(#a65402));
	background: -moz-linear-gradient(top, #fe9731, #a65402);
 	filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe9731', endColorstr='#a65402');
	text-shadow: 0 1px 1px rgba(0, 0, 0, 0.25);
}
.button-orange-high:hover, .button-orange-high:focus {
	background: #f47c20;
	background: -webkit-gradient(linear, left top, left bottom, from(#ffa144), to(#f06015));
	background: -moz-linear-gradient(top, #ffa144, #f06015);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffa144', endColorstr='#f06015');
}
.button-orange-high:active, .button-orange-high.active {
	background: #f47a20;
	background: -webkit-gradient(linear, left top, left bottom, from(#f47a20), to(#faa51a));
	background: -moz-linear-gradient(top, #f47a20, #faa51a);
 filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#f47a20', endColorstr='#faa51a');
}