.feature
{
display:block;
margin-bottom:10px;
}

.feature img{
background-color:#4D5C6A;
border:1px solid #1F262C;
color:#FFFFFF;
float:left;
margin-right:7px;
padding:5px;	
}

.feature h7
{
	color:#FF6600;
	font-weight:bold;
}

.featurSeparaor
{
border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
border-right:0 none;
border-style:dotted none none;
border-width:1px 0 0;
display:block;
height:1px;
margin:6px 0 6px 0;
padding:0;
}

/******************************* Collapse and Expand body 	*******************************/
.collExpandBox
{
	border:#999 solid 1px;
	padding:5px;
	display:none;
	background-color:#CCC;
	width:500px;
	text-align:justify;
}

/******************************* BRANCH and CONTACT US 	*******************************/
.branchContact li {
	display:block;
	float:left;
	width:200px;
	line-height:20px;
	margin-left:10px;
}


/******************************* DATE PICKER 	*******************************/

.dpkrHeader {
	color:#FFF;
	background-color:#000000;
}

.dpkrToday {
	color:#000;
	background-color:#44ade2;
}

.dpkrFooter {
	color:#FFF;
	background-color:#f6912d;
}