/********************************      Layout      ********************************/

html {
    font-size: 100%;
    height: 100%;
    margin-bottom: 1px;
}
body {
    margin:0;
    padding:0;
    font-size:13px;
    font-family: Tahoma, Geneva, sans-serif;
    color: #646464;
    background-color:#FFF;
}
#top {
    /*	background-image:url(../images/page_bg_t.png);	*/
    background-position:top;
    background-repeat:repeat-x;
}
/********************************      General Classes      ********************************/
img {
    border:0;
    padding:0;
    margin:0;
}
.justify {
    text-align:justify;
}
.bold {
    font-weight:bold;
}
.center {
    text-align:center;
}
.right {
    text-align:right;
}
.nostart {
    list-style-type:none;
    margin:0;
    padding:0;
}
.clear {
    clear:both;
}
br.clear {
    clear:both;
    margin-top:-15px;
}
a {
    outline:none;
    text-decoration:none;
    color:#44ade2;	/*	#889a9c;	*/
}
a:hover {
    color:#666;
}
.fl_left {
    float:left;
}
.fl_right {
    float:right;
}
.mrgin_left {
    margin-left:5px;
}
.mrgin_right {
    margin-right:5px;
}
.imgl {
    float:left;
    margin:0 8px 8px 0;
    border:1px solid #000000;
    padding:5px;
    color:#FFFFFF;
    background-color:#999999;
    clear:left;
}
.imgr {
    float:right;
    margin:0 0 8px 8px;
    border:1px solid #000000;
    padding:5px;
    color:#FFFFFF;
    background-color:#999999;
    clear:right;
}

hr {
    border-color:#CCCCCC -moz-use-text-color -moz-use-text-color;
    border-right:0 none;
    border-style:solid none none;
    border-width:1px 0 0;
    display:block;
    height:1px;
    margin:1px 0 10px 0;
    padding:0;
}

* html hr {
    border:#CCCCCC solid 1px;
    display:block;
    height:1px;
    margin:1px 0 10px 0;
    padding:0;
}

h4{
    font-weight:bold;
    margin:10px 0 1px 0;
    font-size:14px;
}

/* ----------------------------------------------Wrapper-------------------------------------*/

#pageWrapper {
    margin:0 auto;
    width:1000px;
}
div.wrapper {
    display:block;
    width:100%;
    margin:0;
    text-align:left;/*border-bottom:1px solid #E3E3E3;*/    
}
/*
div.wrapper h1, div.wrapper h2, div.wrapper h3, div.wrapper h4, div.wrapper h5, div.wrapper h6{
	margin:0 0 15px 0;
	padding:0;
	font-size:20px;
	font-weight:normal;
	line-height:normal;
	}
*/
.col0, .col0 a {
    color:#646464;
    background-color:#666666;
}
.col2 {
    color:#646464;
    background-color:#F6F6F6;
}
/* ----------------------------------------------Head-------------------------------------*/

#head {
    z-index:1000;
    height:105px;
    color:#666666;
    font-size:20px;
    margin-top:5px;
    float:left;
}

/* ----------------------------------------------Search-------------------------------------*/

#search {
    z-index:1000;
    height:25px;
    float:right;
    margin-top:70px;
}

* html #search {
    z-index:1000;
    height:75px;
    float:left;
    margin-top:90px;
    margin-left:383px;
    width:233px;
}

/* ----------------------------------------------Navigation-------------------------------------*/
#mainNav {
    margin:8px 5px 5px 5px;
    display:block;
    width:100%;
}

* html #mainNav {
    margin:8px 5px 5px 5px;
    display:block;
    width:99%;
}
/* ----------------------------------------------Breadcrumb Navigation-------------------------------------*/

#breadcrumb { 
    font-size:11px;
}

#breadcrumb ul {
    margin:0;
    padding:0;
    list-style:none;
}
#breadcrumb ul li {
    display:inline;
}
#breadcrumb ul li.first {
    font-weight:bold;
}
#breadcrumb ul li.current a {
    text-decoration:underline;
}
/* ----------------------------------------------List-------------------------------------*/
.smallBullets {
    margin-top:10px;
}
.smallBulletsUl {
    padding-bottom:1px;
    padding-left:20px;
    position:relative;
}
.smallBullets li {
    height:0;
    line-height:14px;
    background:url("../images/pfeil7.gif") no-repeat 0px 5px;
    padding-left:15px;
    border:medium none;
    list-style-type:none;
    margin:5px;
    padding-bottom:15px;
    padding-top:2px;
}

.doubleBullets {
    margin-top:10px;
}
.doubleBulletsUl {
    padding-bottom:1px;
    padding-left:20px;
    position:relative;
}
.doubleBullets li {
    height:0;
    line-height:14px;
    background:url("../images/pfeil2.gif") no-repeat 0px 5px;
    padding-left:15px;
    border:medium none;
    list-style-type:none;
    margin:5px;
    padding-bottom:15px;
    padding-top:2px;
    width:250px;
}

.errorBullets {
    margin-top:10px;
}
.errorBulletsUl {
    padding-bottom:1px;
    padding-left:20px;
    position:relative;
}
.errorBullets li {
    height:0;
    line-height:14px;
    background:url("../images/errorBullet.gif") no-repeat 0px 5px;
    border:medium none;
    list-style-type:none;
    margin:5px;
    padding-bottom:15px;
    padding-left:15px;
    padding-top:2px;
    color:#e43f3f;
    font-weight:bold;
}

* html .errorBullets li {
    height:0;
    line-height:14px;
    background:url("../images/errorBullet.gif") no-repeat  0px 5px;
    border:medium none;
    list-style-type:none;
    margin:5px;
    padding-bottom:15px;
    padding-top:2px;
    padding-left:15px;
    color:#e43f3f;
    font-weight:bold;
}



/* ----------------------------------------------Footer-------------------------------------*/
#footer {
    /*display:block;
	width:100%;
	background-image:url(../images/nev_bg.png);
	background-position:top;
	background-repeat:repeat-x;
	height:45px;*/
    margin: 0px auto;
    background-color: #a2a2a2;
    border-top: solid 1px #000000; /* Sets the top border properties for an element using shorthand notation */
    /* padding: 10px 10px 10px 10px;  Sets the padding properties for an element using shorthand notation (top, right, bottom, left) */
    text-shadow:1px 1px 1px #FFFFFF;
    text-align: center;
    line-height: 20px; /* center the text in both browser */
}
#copyright {
    padding:6px 0;
    font-size:11px;
}

* html #copyright {
    padding:15px 0;
    font-size:11px;
}

#copyright a {
    color:#FFFFFF;
}
