@charset "utf-8";
/* CSS Document */

 #wrapper {
  height:2000px;
  width:auto;
 } 

 #gallery {
  width:900px;
  margin-left:auto;
  margin-right:auto;
  margin-top:75px; 
 } 

 .holder {
  width:225px;
  height:250px;
  background-image:url(../images/polaroid.png);
  float:left; 
 }

 .holder img {
  border:none;
 }

 .thumb {
  width:140px; 	
  height:120px;
  margin-top:29px;
  margin-left:43px;
  margin-right:42px; 
 } 

 .title {
  width:140px;
  height:40px;
  margin-left:auto;
  margin-right:auto;
  margin-top:15px;
  overflow:hidden; 
 } 

 .title h3 {
  margin:0;
  font-family:"Comic Sans MS", cursive;
  font-size:14px;
  overflow:hidden;
  color:#333; 
 } 

 .clearFloat {
  clear:both;
 } 
