#roundedContainer {
	width: 1000px;
	margin:10px 0 10px 0;
}
.module h3.header {
	margin: 0px;
	padding: 0px;
	font-size: 16px;
	color: #323232;
	font-weight: normal;
}
.module span.header-2, .module span.header-3 {
	display: block;
}
.module h3.header span.title {
	display: block;
	font-size: 15px;
	line-height: 27px;
}
.module h3.header span.subtitle {
	display: block;
	margin-top: -5px;
	line-height: 10px;
	font-size: 9px;
	font-weight: normal;
	color: #646464;
	letter-spacing: 0px;
	text-indent: 1px;
}

/*
 * space between modules
 */

div.separator .module {
	margin: 0px 15px 0px 0px;
}
#left .module, #right .module, #contentleft .module, #contentright .module {
	margin-bottom: 15px;
}
#left .last, #right .last, #contentleft .last, #contentright .last {
	margin-bottom: 0px;
}
#top .topblock .module {
	margin: 15px 0px 0px 0px;
}
#bottom .bottomblock .module {
	margin: 0px 0px 15px 0px;
}
/*
 * header module positions
 */


#toolbar .left .module {
	padding: 0px 10px 0px 10px;
	background: url(../UA_files/toolbar_separator.png) 100% 0 no-repeat;
	float: left;
}
#toolbar .right .module {
	padding: 0px 10px 0px 10px;
	background: url(../UA_files/toolbar_separator.png) 0 0 no-repeat;
	float: right;
}
#headerbar .left .module {
	margin-right: 15px;
	float: left;
}
#headerbar .right .module {
	margin-left: 15px;
	float: right;
}
/*
 * #contentleft and #contentright
 */

#contentleft .module, #contentright .module {
	margin-right: 12px;
	margin-left: 12px;
}
#contentleft div.mod-line, #contentleft div.mod-ridge, #contentleft div.mod-band {
	margin-left: 0px;
	margin-right: 1px;
}
#contentright div.mod-line, #contentright div.mod-ridge, #contentright div.mod-band {
	margin-left: 1px;
	margin-right: 0px;
}

/*
 * badge styles
 */

div.module {
	position: relative;
}
div.module div.badge {
	position: absolute;
	top: 0px;
	right: 0px;
	width: 39px;
	height: 39px;
	background: url(../UA_files/module_badges.png) 0 0 no-repeat;
	overflow: hidden;
}
div.module div.badge-hot {
	background-position: 0 0;
}
div.module div.badge-top {
	background-position: 0 -40px;
}
div.module div.badge-pick {
	background-position: 0 -80px;
}
div.module div.badge-new {
	background-position: 0 -120px;
}
/*
 * icon styles
 */

div.module h3.header span.icon {
	display: block;
	position: relative;
	left: -5px;
	width: 30px;
	height: 30px;
	background: url(../UA_files/module_icons.png) 0 0 no-repeat;
	overflow: hidden;
	float: left;
}
div.module h3.header span.icon-feed {
	background-position: 0 0;
}
div.module h3.header span.icon-download {
	background-position: 0 -30px;
}
div.module h3.header span.icon-twitter {
	background-position: 0 -60px;
}
div.module h3.header span.icon-mail {
	background-position: 0 -90px;
}
div.module h3.header span.icon-message {
	background-position: 0 -120px;
}
div.module h3.header span.icon-users {
	background-position: 0 -150px;
}
div.module h3.header span.icon-shopping {
	background-position: 0 -180px;
}
div.module h3.header span.icon-lock {
	background-position: 0 -210px;
}
/*
 * module: blank
 */

div.mod-blank {
	overflow: hidden;
}
#headerbar div.mod-blank {
	padding-top: 15px;
}
/*
 * module: dropdown
 */

#menu ul.mod-dropdown {
	padding-left: 0px;
	background: none;
}
#menu .mod-dropdown .module {
	padding: 5px;
	overflow: hidden;
}
#menu .mod-dropdown .dropdown {
	width: 300px;
}
/*
 * module: headerbar
 */

div.mod-headerbar div.box-content {
	background: url(../UA_files/module_headerbar.png) 0 0 no-repeat;
}
div.mod-headerbar div.box-2 {
	padding: 0px 10px 0px 10px;
	background: url(../UA_files/module_headerbar.png) 100% -75px no-repeat;
}
div.mod-headerbar div.box-3 {
	height: 55px;
	padding: 10px 0px 5px 0px;
	background: url(../UA_files/module_headerbar.png) 0 -150px repeat-x;
	overflow: hidden;
}
/*
 * module: rounded
 */

div.mod-rounded div.box-level1 {
	background: url(../UA_files/module_rounded_white_corners.png) 0 0 no-repeat;
}
div.mod-rounded div.box-level2 {
	padding: 0px 10px 0px 10px;
	background: url(../UA_files/module_rounded_white_corners.png) 100% -15px no-repeat;
}
div.mod-rounded div.box-level3 {
	height: 9px;
	border-top: 1px solid #D2D2D2;
	background: #ffffff;
}
div.mod-rounded div.box-content {
	padding: 0px 14px 0px 14px;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
	background: #ffffff;
	overflow: hidden;
}
div.mod-rounded div.box-level3b {
	background: url(../UA_files/module_rounded_white_corners.png) 0 -30px no-repeat;
}
div.mod-rounded div.box-level2b {
	padding: 0px 10px 0px 10px;
	background: url(../UA_files/module_rounded_white_corners.png) 100% -45px no-repeat;
}
div.mod-rounded div.box-level1b {
	height: 9px;
	border-bottom: 1px solid #D2D2D2;
	background: #ffffff;
}
div.mod-rounded h3.header {
	height: 30px;
	line-height: 27px;
	text-shadow: 1px 1px 1px #c8c8c8;
}
div.mod-rounded h3.header span.icon {
	top: -2px;
}
/* color: grey */
div.mod-rounded-grey div.box-level1 {
	background-image: url(../UA_files/module_rounded_grey_corners.png);
}
div.mod-rounded-grey div.box-level2 {
	background-image: url(../UA_files/module_rounded_grey_corners.png);
}
div.mod-rounded-grey div.box-content {
	padding: 0px 1px 0px 1px;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
	background: #ffffff;
}
div.mod-rounded-grey div.box-2 {
	padding: 0px 13px 0px 13px;
	background: url(../UA_files/module_rounded_grey_fading.png) 0 100% repeat-x;
	overflow: hidden;
}
div.mod-rounded-grey div.box-level3b {
	background-image: url(../UA_files/module_rounded_grey_corners.png);
}
div.mod-rounded-grey div.box-level2b {
	background-image: url(../UA_files/module_rounded_grey_corners.png);
}
div.mod-rounded-grey div.box-level1b {
	height: 10px;
	border: none;
	background: url(../UA_files/module_rounded_grey_corners.png) 0 -60px repeat-x;
}
div.mod-rounded-grey em.box {
	background: #ffffff;
}
/* header: grey */
div.mod-rounded-header div.deepest {
	padding: 30px 14px 0px 14px;
}
div.mod-rounded-header div.box-content div.deepest {
	padding: 30px 13px 0px 13px;
}
div.mod-rounded-header div.header-1 {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 0 0 no-repeat;
}
div.mod-rounded-header div.header-2 {
	padding: 0px 30px 0px 30px;
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 100% -45px no-repeat;
}
div.mod-rounded-header div.header-3 {
	height: 40px;
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 100% -90px repeat-x;
}
div.mod-rounded-header h3.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 40px;
	padding-left: 15px;
	line-height: 35px;
	text-shadow: 0px 1px 0px #ffffff, 0px 2px 2px #c8c8c8;
	overflow: hidden;
}
div.mod-rounded-header h3.header span.icon {
	top: 2px;
}
/* color: header blue */
div.mod-rounded-header-blue div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-blue div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-blue div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-blue h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-blue h3.header span.subtitle {
	color: #ffffff;
}
/* color: header red */
div.mod-rounded-header-red div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_red.png);
}
div.mod-rounded-header-red div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_red.png);
}
div.mod-rounded-header-red div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_red.png);
}
div.mod-rounded-header-red h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-red h3.header span.subtitle {
	color: #ffffff;
}
/* color: header orange */
div.mod-rounded-header-orange div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_orange.png);
}
div.mod-rounded-header-orange div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_orange.png);
}
div.mod-rounded-header-orange div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_orange.png);
}
div.mod-rounded-header-orange h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-orange h3.header span.subtitle {
	color: #ffffff;
}
/* color: header green */
div.mod-rounded-header-green div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_green.png);
}
div.mod-rounded-header-green div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_green.png);
}
div.mod-rounded-header-green div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_green.png);
}
div.mod-rounded-header-green h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-green h3.header span.subtitle {
	color: #ffffff;
}
/* color: header pink */
div.mod-rounded-header-pink div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_pink.png);
}
div.mod-rounded-header-pink div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_pink.png);
}
div.mod-rounded-header-pink div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_pink.png);
}
div.mod-rounded-header-pink h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-pink h3.header span.subtitle {
	color: #ffffff;
}
/* color: header turquoise */
div.mod-rounded-header-turquoise div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_turquoise.png);
}
div.mod-rounded-header-turquoise div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_turquoise.png);
}
div.mod-rounded-header-turquoise div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_turquoise.png);
}
div.mod-rounded-header-turquoise h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-turquoise h3.header span.subtitle {
	color: #ffffff;
}
/* color: header gold */
div.mod-rounded-header-gold div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_gold.png);
}
div.mod-rounded-header-gold div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_gold.png);
}
div.mod-rounded-header-gold div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_gold.png);
}
div.mod-rounded-header-gold h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-gold h3.header span.subtitle {
	color: #ffffff;
}
/* color: header templatecolor */
div.mod-rounded-header-templatecolor div.header-1 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-templatecolor div.header-2 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-templatecolor div.header-3 {
	background-image: url(../UA_files/module_rounded_grey_header_blue.png);
}
div.mod-rounded-header-templatecolor h3.header {
	color: #ffffff;
	text-shadow: 0px 1px 1px #323232;
}
div.mod-rounded-header-templatecolor h3.header span.subtitle {
	color: #ffffff;
}
/*
 * module: black
 */

div.mod-black div.box-level1 {
	background: url(../RoundFeatures/images/module_black.png) 0 0 no-repeat;
}
div.mod-black div.box-level2 {
	padding: 0px 30px 0px 30px;
	background: url(../RoundFeatures/images/module_black.png) 100% -40px no-repeat;
}
div.mod-black div.box-level3 {
	height: 35px;
	background: url(../RoundFeatures/images/module_black.png) 0 -80px repeat-x;
}
div.mod-black div.box-content {
	padding: 10px 14px 10px 14px;
	border-left: 1px solid #141414;
	border-right: 1px solid #141414;
	background: #141414 url(../RoundFeatures/images/module_black.png) 0 -150px repeat-x;
	overflow: hidden;
	color: #c8c8c8;
}
div.mod-black div.box-level3b {
	background: url(../RoundFeatures/images/module_black.png) 0 -120px no-repeat;
}
div.mod-black div.box-level2b {
	padding: 0px 30px 0px 30px;
	background: url(../RoundFeatures/images/module_black.png) 100% -135px no-repeat;
}
div.mod-black div.box-level1b {
	height: 9px;
	border-bottom: 1px solid #B6BFC6;
	background: #DCE1E6;
}
div.mod-black h3.header {
	position: absolute;
	top: 0px;
	left: 0px;
	right: 0px;
	height: 35px;
	padding-left: 15px;
	line-height: 35px;
	text-shadow: 0px 1px 0px #ffffff, 0px 2px 2px #c8c8c8;
	overflow: hidden;
}
div.mod-black h3.header span.icon {
	top: 2px;
}
div.mod-black em.box {
	background: #323232;
	border-color: #646464;
}
div.mod-black h1, div.mod-black h2, div.mod-black h3, div.mod-black h4, div.mod-black h5, div.mod-black h6 {
	/*color: #ffffff;*/
	text-shadow: none;
}
/* menu */
div.mod-menu-black div.box-level1 {
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 0 0 no-repeat;
}
div.mod-menu-black div.box-level2 {
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 100% -45px no-repeat;
}
div.mod-menu-black div.box-level3 {
	background: url(../RoundFeatures/images/module_rounded_grey_header_grey.png) 0 -90px repeat-x;
}
div.mod-menu-black div.box-content {
	padding: 0px 0px 0px 0px;
	border-left: 1px solid #D2D2D2;
	border-right: 1px solid #D2D2D2;
	background: #ffffff;
	overflow: hidden;
	color: #646464;
}
/*
 * module: line
 */

div.mod-line div.box-content {
	padding: 5px 15px 10px 15px;
	overflow: hidden;
}
div.mod-line h3.header {
	height: 30px;
	padding-left: 15px;
	line-height: 27px;
	background: url(../UA_files/module_line.png) 0 100% repeat-x;
	text-shadow: 0px 1px 0px #ffffff, 0px 1px 5px #c8c8c8;
}
/*
 * module: ridge
 */

div.mod-ridge div.box-content {
	padding: 5px 15px 10px 15px;
	background: url(../UA_files/module_ridge.png) 0 -27px repeat-x;
	overflow: hidden;
}
div.mod-ridge h3.header {
	height: 30px;
	padding-left: 15px;
	line-height: 27px;
	background: url(../UA_files/module_ridge.png) 0 8px repeat-x;
	text-shadow: 0px 1px 0px #ffffff, 0px 1px 5px #c8c8c8;
}
/*
 * module: band
 */

div.mod-band {
	margin-top: 5px;
}
div.mod-band div.box-content {
	padding: 5px 15px 10px 15px;
	background: url(../UA_files/module_band_shadow.png) 50% 0 no-repeat;
	overflow: hidden;
}
div.mod-band h3.header {
	background: url(../UA_files/module_band_bg.png) 0 -70px repeat-x;
	line-height: 29px;
	text-shadow: 0px 1px 0px #ffffff, 0px 1px 5px #c8c8c8;
}
div.mod-band span.header-2 {
	background: url(../UA_files/module_band_bg.png) 0 0 no-repeat;
}
div.mod-band span.header-3 {
	height: 30px;
	padding-left: 15px;
	background: url(../UA_files/module_band_bg.png) 100% -35px no-repeat;
}
/* menu */
div.mod-menu-band div.box-content {
	padding: 0px 0px 10px 0px;
	background: none;
	overflow: hidden;
}
/*
 * module: polaroid
 */

div.mod-polaroid div.badge-tape {
	position: absolute;
	top: -13px;
	left: 50%;
	width: 114px;
	height: 38px;
	margin-left: -57px;
	background: url(../UA_files/module_polaroid_tape.png) 0 0 no-repeat;
}
div.mod-polaroid div.box-content {
	margin-top: 13px;
	padding: 10px 10px 5px 10px;
	border-top: 1px solid #C8C8C8;
	border-left: 1px solid #C8C8C8;
	border-right: 1px solid #C8C8C8;
	background: #ffffff url(../UA_files/module_polaroid_bg.png) 0 100% repeat-x;
	overflow: hidden;
}
div.mod-polaroid div.box-2 {
	margin-bottom: 5px;
	background: #000000;
}
div.mod-polaroid div.box-3 {
	padding: 10px 15px 10px 15px;
	overflow: hidden;
	font-style: italic;
	color: #C8C8C8;
}
div.mod-polaroid div.box-level3b {
	background: url(../UA_files/module_polaroid_shadows.png) 0 0 no-repeat;
}
div.mod-polaroid div.box-level2b {
	padding: 0px 70px 0px 70px;
	background: url(../UA_files/module_polaroid_shadows.png) 100% -5px no-repeat;
}
div.mod-polaroid div.box-level1b {
	height: 5px;
	background: url(../UA_files/module_polaroid_shadows.png) 0 -10px repeat-x;
}
div.mod-polaroid h3.header {
	height: 25px;
	margin: 0px 0px 0px 0px;
	font-size: 140%;
	line-height: 25px;
	text-align: center;
	letter-spacing: -1px;
	font-style: italic;
	color: #323232;
}
/*
 * module: postit
 */

div.mod-postit div.box-content {
	background: #FFFFAA;
	color: #323232;
}
div.mod-postit div.box-2 {
	padding: 15px 15px 0px 15px;
	overflow: hidden;
	font-style: italic;
}
div.mod-postit div.box-level3b {
	background: url(../UA_files/module_postit_shadows.png) 0 0 no-repeat;
}
div.mod-postit div.box-level2b {
	padding: 0px 90px 0px 60px;
	background: url(../UA_files/module_postit_shadows.png) 100% -40px no-repeat;
}
div.mod-postit div.box-level1b {
	height: 40px;
	background: url(../UA_files/module_postit_shadows.png) 0 -80px repeat-x;
}
div.mod-postit h3.header {
	height: 30px;
	margin: -15px -15px 5px -15px;
	background: #FFFFDA;
	font-size: 140%;
	line-height: 30px;
	text-indent: 15px;
	font-style: italic;
	color: #323232;
}
/*
 * module: tab
 */

div.mod-tab {
	padding: 15px 0px 0px 0px;
}
div.mod-tab div.box-content {
	background: url(../UA_files/module_tab_l.png) 0 0 repeat-y;
}
div.mod-tab div.box-2 {
	background: url(../UA_files/module_tab_t.png) 0 0 repeat-x;
}
div.mod-tab div.box-3 {
	background: url(../UA_files/module_tab_tr.png) 100% 0 no-repeat;
}
div.mod-tab div.box-4 {
	padding: 20px 15px 10px 15px;
	background: url(../UA_files/module_tab_bl.png) 0 100% no-repeat;
}
div.mod-tab h3.header {
	position: absolute;
	top: 0px;
	left: 0px;
	background: url(../UA_files/module_tab_header.png) 0 0 no-repeat;
	line-height: 30px;
}
div.mod-tab span.header-2 {
	padding: 0px 20px 0px 15px;
	background: url(../UA_files/module_tab_header.png) 100% -35px no-repeat;
}
div.mod-tab span.header-3 {
	height: 30px;
	background: url(../UA_files/module_tab_header.png) 0 -70px repeat-x;
}
