.message {
    padding: 10px;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    -khtml-border-radius: 5px;
    border-radius: 5px;
    margin-bottom: 10px;
    -moz-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
    box-shadow:inset 0 1px 0 rgba(255, 255, 255, 0.5);
}

.message h3 {
    margin-top: 0;
}
.message p {
    margin-bottom: 0;
}
.message.info {
    border: 1px solid #cadcea;
    background: #e1f2fc;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1f2fc), to(#cae9fd));
    background: -moz-linear-gradient(top, #e1f2fc, #cae9fd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1f2fc', endColorstr='#cae9fd');
    color: #225b86;
    text-shadow: 0 1px 0 #fff;
}
.info h3 {
    background:url(../images/information.gif) no-repeat;
    padding-left:25px;
}
.message.error {
    border: 1px solid #eeb7ba;
    background: #fae2e2;
    background: -webkit-gradient(linear, left top, left bottom, from(#fae2e2), to(#f2cacb));
    background: -moz-linear-gradient(top, #fae2e2, #f2cacb);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#fae2e2', endColorstr='#f2cacb');
    color: #be4741;
    font-weight:bolder;

    text-shadow: 0 1px 0 #fff;


}
.error h3 {
    background:url(../images/cross_circle.gif) no-repeat;
    padding-left:25px;
}
.message.success {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top, #e5edc4, #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}
.success h3 {
    /*background:url(../images/tick_circle.png) no-repeat;*/
    padding-left:25px;
}
.message.warning {
    border: 1px solid #e5dbaa;
    background: #ffffc0;
    background: -webkit-gradient(linear, left top, left bottom, from(#ffffc0), to(#f9ee9c));
    background: -moz-linear-gradient(top, #ffffc0, #f9ee9c);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffc0', endColorstr='#f9ee9c');
    color: #6d7829;
    text-shadow: 0 1px 0 #fff;
}
.warning h3 {
    background:url(../images/exclamation.gif) no-repeat;
    padding-left:25px;
}

.validation {
    padding: 2px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    -khtml-border-radius: 3px;
    border-radius: 3px;
    margin-top: 2px;
    text-align:left;
    font-weight:bolder;
    font-family:Verdana, Arial, Helvetica, sans-serif;

}
.validation.sucess {
    border: 1px solid #b8c97b;
    background: #e5edc4;
    background: -webkit-gradient(linear, left top, left bottom, from(#e5edc4), to(#d9e4ac));
    background: -moz-linear-gradient(top, #e5edc4, #d9e4ac);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e5edc4', endColorstr='#d9e4ac');
    color: #3f7227;
    text-shadow: 0 1px 0 #fff;
}

.validation.fielderror {
    border: 1px solid #dc2727;
    color: #666;
    font-size:11px;
    background:#ffcece url(../images/cross_small.gif) 0.1%  no-repeat;
    padding-left:15px;
}
.warning
{
    color:#FF0000;
}

.log_text
{
    color:#FFFFFF;
}
.my_action
{
    color:#FF0000;
}
.comment_others_spn
{
    color:#0000CC;
    font-weight:bolder;
    padding-left:18px;

}

.comment_admin
{
    color:#0000CC;
    font-weight:bolder;

}

.my_note {
    background: url("../images/note.png") no-repeat scroll 10px 10px #FCFBEA;
    border: 1px solid #DBD9C0;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 35px;
    text-align:left;
    width:586px;
}
.my_close_note {
    background: url("../images/Cross_12x12.png") no-repeat scroll 10px 12px #FFBABA ;
    border: 1px solid #dc2727;
    border-radius: 5px 5px 5px 5px;
    margin-bottom: 10px;
    padding: 10px 20px 10px 35px;
    color:#000000;
    font-weight:bolder;		
    text-align:left;
    width:586px;
}
.com_state
{
    color:#FF0000;

}
a.CER_NO {
    background: #c54a00;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
}
a.CER_NO {
    border-radius: 5px;
}
a:CER_NO {
    background: #000;
}

a.verified_dat {   
    background: #0DBD00;  
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;


}
a.verified_dat {
    border-radius: 5px;
}
a:verified_dat {
    background: #000;
}
.verified_true{
    background: #0DBD00;
    padding: 4px 8px;
    color: #fff;
    text-decoration: none;
    border-radius: 5px; 
    width:55px;
}

  a.CLIKER_ID {
    background: none repeat scroll 0 0 #0DBD00;
    color: #FFFFFF;
    padding: 4px 8px;
    text-decoration: none;
	
}
a.CLIKER_ID {
    border-radius: 5px 5px 5px 5px;
	
}

.request_pending{
    background: #990000;
	
    padding: 4px 4px;
    color: #fff;
    text-decoration: none;
	font-weight:bold;
    border-radius: 5px; 
    width:125px;
}

