/*************** Pagination ***************/
.clearfix {
	display:inline-block;
}

* html .clearfix {
	
}

.pagination {
	margin:1em 0;
	padding:0;
	text-align: right;
	padding: 20px 0 5px 0;
	font-size: 10px;
}
.pagination a {
	cursor:pointer;
	display:block;
	height:20px;
	line-height:20px;
	outline:medium none !important;
	padding:0 6px;
	text-align:center;
	text-decoration:none;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
}
.pagination a:hover {
	border:1px solid #999;
}
.button-gray {
	border:1px solid #CCCCCC;
	color:#777777;
}
.pagination li {
	display:inline-block;
	float:left;
	height:22px;
	line-height:20px;
	outline:medium none !important;
	padding:0 6px;
	text-align:center;
	text-decoration:none;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	border-radius: 3px;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
}

* html .pagination li {
	display:inline;
	height:22px;
	line-height:20px;
	outline:medium none !important;
	padding:0 6px;
	text-align:center;
	text-decoration:none;
}

* html .pagination a {
	cursor:pointer;
	display:inline;
	height:20px;
	line-height:20px;
	outline:medium none !important;
	padding:0 6px;
	text-align:center;
	text-decoration:none;
}
.pagination_new{
float:left;
width:400px;

}

.pagination_new strong{
	padding:3px 5px;
	border:1px solid #ccc;
	border-top:1px solid #ccc;
	background:#FFCC00;
	color:#000000;	
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	height:22px;
	line-height:35px;
	outline:medium none !important;

}

.pagination_new a{
	padding:3px 5px;
	border:1px solid #ccc;
	background:#eee;
	color:#555;
	text-decoration:none;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	height:22px;
	line-height:20px;
	outline:medium none !important;

}

.pagination_new a:hover{
	padding:3px 5px;
	border:1px solid #FFCC00;
	background:#f2f2f2;
	color:red;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	height:22px;
	line-height:35px;
	outline:medium none !important;

}
.pagination_new a:active{
	padding:3px 5px;
	border:1px solid #000000;
	background:#FFF;
	color:red;
	-moz-box-shadow:0 1px 0 rgba(255, 255, 255, 0.5) inset;
	-moz-border-radius: 3px;
	-webkit-border-radius: 3px;
	-khtml-border-radius: 3px;
	height:22px;
	line-height:35px;
	outline:medium none !important;

}
