@charset "utf-8";
/* CSS Document */

/*******************************************************************	start of rounded coners */
.rounded_top-left {
	margin-right: 12px; /* clip right corner */
	background-image: url('../images/roundedContainer.gif');
	height: 12px; /* vertical: show first half of the image with the top-corners in it */
	font-size: 2px; /* correct height for IE */
}
.rounded_top-right {
	margin-top: -12px; /* to level of top-left corner */
	margin-left: 12px; /* clip left corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 100% 0; /* show bg-image starting at the right */
	height: 12px;
	font-size: 2px;
}
.rounded_bottom-left {
	margin-right: 12px; /* clip right corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 0 -20px; /* show under half of the image */
	height: 12px;
	font-size: 2px;
}
.rounded_bottom-right {
	margin-top: -12px; /* to level of bottom-left corner */
	margin-left: 12px; /* clip left corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 100% -20px; /* under half, right side */
	height: 12px;
	font-size: 2px;
}
.rounded_container_top-left {
	margin-right: 16px; /* clip right corner */
	background-image: url('../images/roundedContainer.gif');
	height: 16px; /* vertical: show first half of the image with the top-corners in it */
	font-size: 2px; /* correct height for IE */
}
.rounded_container_top-right {
	margin-top: -16px; /* to level of top-left corner */
	margin-left: 16px; /* clip left corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 100% 0; /* show bg-image starting at the right */
	height: 16px;
	font-size: 2px;
}
.rounded_container_bottom-left {
	margin-right: 16px; /* clip right corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 0 -16px; /* show under half of the image */
	height: 16px;
	font-size: 2px;
}
.rounded_container_bottom-right {
	margin-top: -16px; /* to level of bottom-left corner */
	margin-left: 16px; /* clip left corner */
	background-image: url('../images/roundedContainer.gif');
	background-position: 100% -16px; /* under half, right side */
	height: 16px;
	font-size: 2px;
}
.rounded_inside_container {
	border-left: 1px solid #f6912d;
	border-right: 1px solid #f6912d;
	background: #FFF;
	padding-left: 10px;
	padding-right: 10px;
}
.rounded_inside {
	border-left: 1px solid #f6912d;
	border-right: 1px solid #f6912d;
	background: #FFF;
	padding-left: 10px;
	padding-right: 10px;
}
*html .rounded_inside {
	border-left: 1px solid #f6912d;
	border-right: 1px solid #f6912d;
	background: #FFF;
	padding: 0px;
	padding-left: 10px;
	padding-right: 10px;
}
.rounded_inside_sidebar {
	border-left: 1px solid #f6912d;
	border-right: 1px solid #f6912d;
	background: #FFF;
	padding-left: 0px;
	padding-right: 0px;
}
*html .rounded_inside_sidebar {
	border-left: 1px solid #f6912d;
	border-right: 1px solid #f6912d;
	background: #FFF;
	padding: 0px;
}
.rounded_notopgap {
	margin-top: 0;
}
.rounded_nobottomgap {
	margin-bottom: 0;
}
