body {
	font-family: arial;
	font-size: 100%;
	color: #fff;
	line-height: 180%;
	text-align: center;
	background-color: #232323;
	padding: 2em;
}

a,a:active,a:visited {
	color: #09c;
}

a:hover {
	color: #0cf;
}

h1 {
	font-size: 3em;
	color: #FFCC00;
}

#container { 
	width: 50%;
	margin: 0 auto;
	text-align: left;
}

.footer {
	background-color: #000;
	padding: 0.5em;
}

.leightbox {
	color: #333;
	display: none;
	position: absolute;
	top: 25%;
	left: 25%;
	width: 50%;
	height: 50%;
	padding: 1em;
	border: 1em solid #B8B8B8;
	background-color: white;
	text-align: left;
	z-index:1001;
	overflow: auto;	
}

#overlay{
	display:none;
	position:absolute;
	top:0;
	left:0;
	width:100%;
	height:100%;
	z-index:1000;
	background-color:#333;
	-moz-opacity: 0.8;
	opacity:.80;
	filter: alpha(opacity=80);
}

.lightbox[id]{ /* IE6 and below Can't See This */    position:fixed;    }#overlay[id]{ /* IE6 and below Can't See This */    position:fixed;    }