.dataTable {
    width:100%;
    border-collapse:collapse;
    table-layout:auto;
    vertical-align:top;
    border:1px solid #d9e2e2;
}
.dataTable th {
    height:25px;
    padding-left:5px;
    background-image:url(../images/tableHeaderBg.gif);
    border-left:1px solid #d9e2e2;
    color:#333;
}
.dataTable td {
    border-bottom:1px solid #d9e2e2;
    border-left:1px solid #d9e2e2;
    padding:3px;
}

/* bullet table */
.bulletTable {
    width:100%;
    border-collapse:collapse;
    table-layout:auto;
    vertical-align:top;    
}
.bulletTable th {
    height:25px;
    padding-left:5px;
    background-image:url(../images/tableHeaderBg.gif);
    border-left:1px solid #d9e2e2;
    color:#333;
}
.bulletTable td {

    background: url("../images/pfeil2.gif") no-repeat scroll 0 5px transparent;
    border: medium none;
    height: 0;
    line-height: 14px;
    list-style-type: none;
    margin: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 2px;
    width: 250px;
}

/* bullet table */
.tickTable {
    width:100%;
    border-collapse:collapse;
    table-layout:auto;
    vertical-align:top;    
}
.tickTable th {
    height:25px;
    padding-left:5px;
    background-image:url(../images/tableHeaderBg.gif);
    border-left:1px solid #d9e2e2;
    color:#333;
}
.tickTable td {

    border: medium none;
    height: 0;
    line-height: 14px;
    list-style-type: none;
    margin: 5px;
    padding-bottom: 15px;
    padding-left: 15px;
    padding-top: 2px;
    width: 250px;
}
