@charset "utf-8";

/* root element for tabs  */
.tabs { 
    list-style:none; 
    margin:0 !important; 
    padding:0;
    height:30px;
    border-bottom:1px solid #aaa;    
}

/* single tab */
.tabs li { 
    float:left;     
    text-indent:0;
    padding:0;
    margin:0 2px 0 0 !important;
    list-style-image:none !important;
    border-top: 1px solid #aaa;
    border-left: 1px solid #aaa;
    border-right: 1px solid #aaa;
    -webkit-border-top-left-radius: 4px;
    -webkit-border-top-right-radius: 4px;
    -moz-border-radius-topleft: 4px;
    -moz-border-radius-topright: 4px;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
}

/* link inside the tab. uses a background image */
.tabs a {
    background: #ddd;
    background: -webkit-gradient(linear, left top, left bottom, from(#aaa), to(#ddd));
    background: -moz-linear-gradient(top,  #aaa,  #ddd);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#aaaaaa', endColorstr='#dddddd');
    border-bottom: 1px solid #aaa;
    -webkit-border-top-left-radius: 3px;
    -webkit-border-top-right-radius: 3px;
    -moz-border-radius-topleft: 3px;
    -moz-border-radius-topright: 3px;
    border-top-left-radius: 3px;
    border-top-right-radius: 3px;
    -moz-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    -webkit-box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    box-shadow:inset 0 1px 0 rgba(255,255,255,0.5);
    font-size:11px;
    display:block;
    height: 29px;  
    line-height:30px;
    width: 111px;
    text-align:center;    
    text-decoration:none;
    color:#000;
    padding:0px;
    margin:0px;    
    position:relative;
    text-shadow: 0 1px 0 #fff;
    top:0px;
}

.tabs a:active {
    outline:none;        
}

/* when mouse enters the tab move the background image */
.tabs a:hover {
    background: #aaa;    
    color:#fff;    
    text-shadow: 0 -1px 0 #000;
}

/* active tab uses a class name "current". it's highlight is also done by moving the background image. */
.tabs .current, .tabs .current:hover, .tabs li.current a {
    border-bottom: 1px solid #fff;
    background: #fff;
    background: -webkit-gradient(linear, left top, left bottom, from(#e1e1e1), to(#fff));
    background: -moz-linear-gradient(top,  #e1e1e1,  #fff);
    filter:  progid:DXImageTransform.Microsoft.gradient(startColorstr='#e1e1e1', endColorstr='#ffffff');
    cursor:default !important; 
    color:#000 !important;
    text-shadow: 0 1px 0 #fff;
}
/* tab pane styling */
.panes div {
    display:none;       
    padding:15px 10px;
    border:1px solid #aaa;
    border-top:0;
    min-height:100px;
    background-color:#fff;
}

/* initially all panes are hidden */ 
.panes .pane {
    display:none;        
}




/*********************	primaryTabs Nav	*******************/
#primaryTabs {
	float:left;
	width:100%;
	line-height:normal;
	/*	border-bottom:1px solid #666;	*/
	/*margin-bottom:1em; margin between menu and rest of page*/
	overflow:hidden;
	margin-bottom:-5px;
}
.primaryTabBody {
	border:#f9a51a solid 1px;
	padding:5px;
	margin-top:-4px
}
#primaryTabs ul {
	margin:0;
	padding:10px 10px 0 0px;
	list-style:none;
}
#primaryTabs li {
	display:inline;
	margin:0;
	padding:0;
	font-weight:bold;
}
#primaryTabs a {
	float:left;
	background:url("../images/primatyTabL.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	font-weight:bold;
	text-decoration:none;
	color:#666;
}
#primaryTabs a div {
	float:left;
	display:block;
	background:url("../images/primatyTabR.gif") no-repeat right top;
	padding:8px 20px 5px 5px;
	margin-right:2px;
}
#headerMiddle a:hover {
}
/* Commented Backslash Hack hides rule from IE5-Mac \*/
#primaryTabs a div {
	float:none;
}
/* End IE5-Mac hack */
#primaryTabs a:hover div {
}
#primaryTabs a:hover {
	background-position:0% -40px;
	color:#999;
}
#primaryTabs a:hover div {
	background-position:100% -40px;
}
#primaryTabs .tabSelected {
	float:left;
	background:url("../images/primatyTabL.gif") no-repeat left top;
	margin:0;
	padding:0 0 0 12px;
	text-decoration:none;
	background-position:0% -80px;
	out-line:none;
}
#primaryTabs .tabSelected div {
	float:left;
	display:block;
	background:url("../images/primatyTabR.gif") no-repeat right top;
	padding:8px 20px 9px 5px;
	margin-right:2px;
	background-position:100% -80px;
	out-line:none;
}

