/**************Tool tips ****************************/
.toolTip { /* This is the hook that the jQuery script will use */
	padding-right: 20px; /* This is need to make sure that the help icon is always visible */
	background: transparent url(../images/help.gif) no-repeat right;
	color: #3366FF;
	cursor: help; 
	position: relative; /* This contains the .toolTipWrapper div that is absolutely positioned  */
}

* html .toolTip { /* This is the hook that the jQuery script will use */
	height:25px;
	display:inline;
	padding:5px;
	padding-left: 20px; /* This is need to make sure that the help icon is always visible */
	background: transparent url(../images/help.gif) no-repeat 0 5px;
	color: #3366FF;
	cursor: help; 
	position: relative; /* This contains the .toolTipWrapper div that is absolutely positioned  */
}

.toolTipWrapper { /* The wrapper holds its insides together */
	width: 175px;
	position: absolute; /* Absolute will make the tooltip float above other content in the page */
	top: 20px;
	display: none; /* It has to be displayed none so that the jQuery fadein and fadeout functions will work */
	color: #FFF;
	font-weight: normal;
	font-size: 9pt; /* A font size is needed to maintain consistancy */
	opacity: 0.8;
	z-index:100;
}

* html .toolTipWrapper { /* The wrapper holds its insides together */
	width: 175px;
	position: absolute; /* Absolute will make the tooltip float above other content in the page */
	top: 20px;
	display: none; /* It has to be displayed none so that the jQuery fadein and fadeout functions will work */
	color: #FFF;
	font-weight: normal;
	font-size: 9pt; /* A font size is needed to maintain consistancy */
	filter:progid:DXImageTransform.Microsoft.Alpha(opacity=80);
	z-index:100;
}

.toolTipTop { /* Top section of the tooltip */
	width: 175px;
	height: 30px;
	background: transparent url(../images/bubbleTop.gif) no-repeat;
}

.toolTipMid { /* Middle section of the tooltip */
	padding: 8px 15px;
	background: #4b5459 url(../images/bubbleMid.gif) repeat-x top;
}

.toolTipBtm { /* Bottom Section of the tooltip */
	height: 13px;
	background: transparent url(../images/bubbleBtm.gif) no-repeat;
}